<div id="movie-card">
    <div id="image-container">
        <img src="<%= movie.image %>" alt="">
    </div>
    <div id="movie-info">
        <h2>Title: <%= movie.title %></h2>
        <h2>Year: <%= movie.year %></h2>
        <h2>Genre: Animation | Comedy | Adventure</h2>
        <h2><a href="<%= movie.url %>">More Info</a></h2>
    </div>
</div>