#movie-card {
    display: flex;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 8px;
}

#image-container img {
    width: 155px;
    height: 226px;
    object-fit: cover;
}

#movie-info{
    margin-left: 24px;
}

#home-container img {
    width: 80%;
    height: 200px;
    object-fit: cover;
}