<%- include('../partials/header', { title: 'Movie Creator' }) %>

    <div class="container">
        <h1 class="mb-3">Welcome to Movie Curator</h1>

        <div id="home-container">
            <a href="https://youtu.be/vAU7Hp63ceQ"><img src="https://i.ytimg.com/vi/vAU7Hp63ceQ/maxresdefault.jpg" alt=""></a>
        </div>
    </div>

<%- include('../partials/footer') %>