<%- include('../partials/header', { title: 'Movies' }) %>

    <h1>Curated Movies</h1>

    <div>
        <ul>
            <% for(let movie of movies) { %>
                <%# this partial contains the html, css to render a movie card %>
                <%- include('../partials/movie-card', { movie }) %>
            <% } %>
        </ul>
    </div>

<%- include('../partials/footer') %>


