<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter a New Movie</h1>

    <form action="/movies" method="POST">
        <div>
            <label for="title">Enter Title:</label>
            <input type="text" id="title" name="title">
        </div>

        <br>

        <div>
            <label for="year">Enter Year:</label>
            <input type="text" id="year" name="year">
        </div>

        <br>

        <div>
            <label for="image">Enter Image URL:</label>
            <input type="text" id="image" name="image">
        </div>

        <br>

        <div>
            <label for="url">Enter desired movie link e.g (Rotten Tomatoes, IMDB):</label>
            <input type="text" id="more-info" name="url">
        </div>

        <br>

        <div>
            <fieldset id="genre">
                <legend>Please select the appropriate Genre</legend>
                <label for="Animation">Animation</label>
                <input type="checkbox" value="Animation" name="genre" id="Animation">
                <label for="Comedy">Comedy</label>
                <input type="checkbox" value="Comedy" name="genre" id="Comedy">
                <label for="Family">Family</label>
                <input type="checkbox" value="Family" name="genre" id="Family">
                <label for="Fantasy">Fantasy</label>
                <input type="checkbox" value="Fantasy" name="genre" id="Fantasy">
                <label for="Action">Action</label>
                <input type="checkbox" value="Action" name="genre" id="Action">
                <label for="Adventure">Adventure</label>
                <input type="checkbox" value="Adventure" name="genre" id="Adventure">
                <label for="Drama">Drama</label>
                <input type="checkbox" value="Drama" name="genre" id="Drama">
                <label for="Romance">Romance</label>
                <input type="checkbox" value="Romance" name="genre" id="Romance">
                <label for="Thriller">Thriller</label>
                <input type="checkbox" value="Thriller" name="genre" id="Thriller">
            </fieldset>
        </div>

        <br>

        <button>Submit</button>
    </form>
</body>
</html>

